body{
    margin: 0;
    padding: 0;
    background-color:rgb(233, 231, 230);
    height: 100vh;
    display: flex;
    
}
.main{
    height: auto;
    width: 100%; 
    display: flex;
    flex-direction: column; 
}
.header{
    
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 100%;
    background-color:#005C5A;
    display: none; 
    /* box-shadow: 0 0 0 0 #000; 
    animation: pulse 1.3s infinite; */
   
}
/* @keyframes pulse {
    to{
        box-shadow: 0 0 0 18px rgba(0, 0, 0, 1);
    }
    
} */
.header1{
   display: block;
    animation: backInDown;
    animation-duration: 1s;

}
.colonne{
    flex: 1;
   cursor: pointer;
    padding: 1rem;
   
}
.note{
    flex: 1;
    cursor: pointer;
    padding: 1rem;
       
}
.fils_header{
    display: flex;
    flex-direction: row;
    text-align: center; 
  
}
.note:hover{
    background-color:#00A6A3;
    color: white;
    animation: fadeIn;
    animation-duration: 3s;
}
.colonne:hover{
    background-color: #00A6A3;
    color: white;
    animation: fadeIn;
    animation-duration: 3s;
}
.midle{
    display: flex;
    flex-direction: row;
}
.midle_right{
    display: flex;
    width: 80%; 
    margin-left: 2rem;  
}
.midle_right .col{
    width: 20%;
    height: 84vh;
    margin-left: 1rem;
    animation: backInUp;
    animation-duration: 1s;
    border: 1px solid gray;
    overflow-y: scroll;
 
}

.colheader{
   
     width: 100%;
     height: 7%;
    /* padding: 0.7rem 0; */
    font-size: 1.5rem;
    
    /* border: 4px solid red; */

}
.p1{
    margin-top: 0;
    width: 100%;
    height: 90%; 
    border:1px 0 1px 1px solid black ;
    font-size: 1.5rem;
    text-align: center; 
    padding-top: 0.5rem;
    background-color: white;
    border: none;
    border-radius: 3px;

}


.header_input{
    width: 95%;
    height: 89%; 
    border:1px 0 1px 1px solid black ;
    font-size: 2rem;
    text-align: center;
    
    
}
.header_input1{
    display: block;
}
.col img{
width: 15rem; 
height: 10rem;
border: none;
border-radius: 20px;
text-align: center;
margin-top: 20rem;
margin-left: 0.5rem;
position: absolute; 
top: 10%;
}
.col span{
    position: relative;
    top: -5%;
    left: 90%;
    background-color: white;
    cursor: pointer;
    border:1px 0 1px 1px solid black ;
}
#midle_left_icone{
    /* margin: 50rem 0 0 2rem; */
    position: fixed;
    bottom: 3%;
    left: 3%;
    opacity: 0.5;
    
}
#refresh{
    position: fixed;
    bottom: 3%;
    left: 50%;
    opacity: 0.5;
}
#burger{
    position: fixed;
    bottom: 3%;
    right: 3%;
    opacity: 0.5;
    z-index: 1;
    
}
.modale{
    width: 25%;
    height: 80vh;
    background-color:white; 
    margin-left: 35%;
    /* margin-top: 1%; */
    position: absolute;
     font-size: 1.5rem;
     display: none;
}
.modale1{
    display: block;
    z-index: 3;

}
.modale_header{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    background-color: gray;
}
.modale_midle h2{
    font-size: 1rem;
    text-align: center;
}
.modale_midle textarea{
    margin-left: 1rem;
}
.modale_midle p{
    margin-left: 1rem;
    
}
#modale_span{
    cursor: pointer;
}
.modale_end{
    display: flex;
    flex-direction: column;
}
.modale_form{
    /* display: flex;
    flex-direction: column; */

}
.modale_form input{
    height: 7vh;
    margin-left: 1rem;
    margin-right: 1rem;
}
.modale_form label{
    margin-left: 1rem;
   
}
.modale_form button{
    border: none;
    padding: 1rem 1rem;
    font-size: 1rem;
    margin-top: 4%;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(97, 145, 3);
    

}
.taches{
    position: relative; 
   
    left: 0;
    display: flex;
    flex-direction: column; 
    border: 2px solid rgb(233, 231, 230);
    border-radius: 3px;
    margin-top: 1rem;
    overflow-y: scroll; 
    overflow-x: hidden;
    z-index: 3;
    
    
    
}
.taches .text{
     /* height: 5rem; */
    /* max-height: 15rem; */
    
}
#supprime_tache{

margin-left: 67%;

}
.horaire{
    display: none;
    
}
.horaire1{
    display: block;
}
/* #btn_droit{
    position: relative;
    text-align: center;
} */
.redirection{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
   
}
.corbeille{
    width: 17%;
    background-color: white;
    height: 83vh;
    position: absolute;
    right: 0;
    top: 0%;
    padding-top: 0%;
    margin-top: 7%;
    display: none;
    overflow-y:scroll; 
    animation: backInUp;
    animation-duration: 1s;
}
.corbeille_block{
    display: block;
}
